.footer {
    padding: 60px 0 40px
}

.footer-container {
    display: flex;
    align-items: flex-start;
    margin: 0 120px 40px;
    height: 252px;

    a {
        text-decoration: none;
        color: #000;
    }

    .logo {
        flex: 1;

        a {
            display: flex;
            align-items: center;

            img {
                width: 24px;
                height: 24px;
                margin-right: 8px;
                border-radius: 8px;
            }

            p {
                font-weight: 600;
                margin: 0;
            }
        }
    }

    .footer-items {
        flex: 1;
        font-size: 14px;

        h3 {
            margin: 0 0 20px;
            font-size: 14px;
        }

        ul {
            padding: 0;

            a {
                display: block;
                height: 39px;
            }
        }
    }
}